body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: #072227
}
h1 {
    font-size:80px;
    color: #FFC900;

}
.dash-bord h3{
    display: inline;
    color: white;
    margin-left: 20px;
}

.dash-bord h3 span{
    color: #FFC900;
}
.selected {
    margin-top: 10px;
    font-size: 12px
}
.selected h3{
    
    display: inline;
    color: white;
    margin-left: 20px;
}

.selected h3 span{
    color: #FFC900;
}

.buttons button {
    background-color: #35858B;
    border-radius: 40px;
    height: 100px;
    width: 100px;
    border-style: outset;
    outline: none;
    border: none;
    margin-left: 20px;
    margin-top: 25px;
}

.buttons .active:active {
    border: 5px solid #FFC900;
}



.buttons button img {
    height: 60px;
}

h4 {
    color: white
}


#new_game {
    font-weight: bold;
    color:#072227;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FFC900;
    border-radius: 40px;
}